.footer {
    background: white;
    border-top: 1px solid black;
    font-size: 14px;
}

.footer-logo {
    max-width: 200px; 
    width: 200px; 
    height: auto; 
    transform: none;
    margin-top: 10px; 
}

@media (max-width: 768px) {
    .footer-logo {
        max-width: 170px; 
        width: 170px;
    }
}

.footer h5 {
    font-weight: 600;
    margin-bottom: 10px;
}

.footer p {
    margin: 0;
    color: #333;
    
}

.footer a {
    text-decoration: none;
    color: black;
    display: inline-block;
    margin-bottom: 5px;
    transition: color 0.3s ease-in-out;
}


.footer a:hover {
    color: #ED4135; 
    text-decoration: underline;
    text-decoration-color: #ED4135; 
}

.footer a:active {
    color: #ED4135; 
    text-decoration: underline;
    text-decoration-color: #ED4135; 
}

.footer-bottom {
    background: black;
    color: white;
    font-size: 12px;
    text-align: center; 
    padding: 10px 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .footer .row {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 15px; 
    }
    .footer .col-md-3 {
        border-bottom: 1px solid #ddd; /* Light divider */
        padding-bottom: 10px;
    }
    .footer .col-md-3:last-child {
        border-bottom: none;
    }
    .footer h5 {
        margin-top: 10px;
    }
}
