@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    padding: 10px 0;
}

.navbar-brand img {
    height: 64px; 
}

.navbar-nav .nav-link {
    font-weight: 500 !important; 
    color: black;
    margin-left: 20px;
    transition: color 0.3s;
    font-family: 'Poppins', sans-serif !important;
    
}

.navbar-nav .nav-link:hover {
    color: #ED4135; 
}

.navbar-nav .nav-link.active {
    font-weight: bold;
    color: #ED4135 !important;
}

/* Dropdown Styling */
.dropdown-menu {
    border-radius: 5px;
    border: none;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
    font-weight: 400;
    color: #333;
    margin-bottom: 10px;
    transition: background 0.3s, color 0.3s;
}

.dropdown-item:hover {
    background-color: #ED4135 !important;;
    color: white !important;
}

.navbar-nav .nav-link.active {
    font-weight: bold;
    color: #ED4135 !important; /
}



/* Mobile Responsive */
@media (max-width: 991px) {
    .navbar-nav {
        text-align: right;
    }
    .navbar-nav .nav-link {
        display: block;
        margin: 10px 0;
    }
}




